# configured via ansible
BOOTPROTO="static"
DEVICE="eth0"
ONBOOT=yes
TYPE=Ethernet
IPADDR={{ ip }}
NETMASK="255.255.255.0"
GATEWAY="192.168.1.254"
DEFROUTE=yes
PEERDNS=no
PEERROUTES=yes
DHCP_HOSTNAME=srv-infra-001
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME="System eth0"