[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
ansible_ssh_user=origin
ansible_become=true
openshift_deployment_type=origin
openshift_release="3.11"
openshift_master_default_subdomain = apps.infrasrc.local
openshift_disable_check=docker_storage,disk_availability
os_firewall_use_firewalld = true
openshift_install_examples = true
openshift_docker_insecure_registries=172.30.0.0/16
openshift_master_identity_providers = [{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_cluster_hostname={{ master1_NAME }}.infrasrc.local
openshift_master_cluster_public_hostname={{ master1_NAME }}.infrasrc.local


[masters]
{{ master1_NAME }}.infrasrc.local

[nodes]
{{ master1_NAME }}.infrasrc.local openshift_node_group_name="node-config-master-infra"
{{ node1_NAME }}.infrasrc.local openshift_node_group_name="node-config-compute"
{{ node2_NAME }}.infrasrc.local openshift_node_group_name="node-config-compute"

[etcd]
{{ master1_NAME }}.infrasrc.local